<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BlockAllocatorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BodyContactsTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Box2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CallbackTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ColorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CommonTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ConfinementTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ConservationTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>FreeListTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>FunctionTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HelloWorldTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>IntrusiveListTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>SlabAllocatorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Testbed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TrackedBlockTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>freeglut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>freeglut_static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>glui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>gtest_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06065400C6394AB3A6B22BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F700FC8493B4368829657D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28787B64172E4F1C97FB8415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385DF3C9EE474BECA306966A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C5CD217F5E04A4CB3F1BFCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D84C33765744DC4932FB30E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41374CFE62204679A5D9CFE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FBA22B0DC3E482A8157E803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B55E4EBA1134A4CBAADFD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EFE5C064D924EA98C3CC023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92ABFE6A90514535BF566103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E3DF8C012347D88C0F225A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF8F8A8BA91449639432D6E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B143263CFF9C4FBEA958BEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E70384FEDE4838887DD8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C75E5010E65E4ABEA41FB57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8B93C5560041E89F5D2F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25FA4FBBB6D497AB8861C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D67BF4E72EBC479C9C3A4F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC8B7644B8264DCBBAA2803E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9546561C783416FA9DF40ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAEA8B223C8C463BB6494B2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED1F8BEFA814BCE9CB2BDE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
